@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    <h1 class="display-4">Welcome to Claim Management System</h1>
    <p><a class="btn btn-primary" href="/Claims/Create">Submit Claim</a></p>
    <p><a class="btn btn-secondary" href="/Claims/Index">View Claims</a></p>
</div>
